@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Abhaya+Libre:wght@400;500;600;700;800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
:root{
    --fontAbhaya: "Abhaya Libre";
    --ABeeZee: "ABeeZee";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
}

header > nav{
    display: flex;
    height: 49px;
    justify-content: start;
    align-items: center;
    background-color: #EEEEEE;
}

nav > a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px 42px;
    height: 49px;
}

nav > a > img {
    width: 30px;
    height: 30px;
}

nav > ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav > ul > li{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

li > button{
    border: 0px;
    padding: 18.5px 7.9px 15.5px;
    color: black;
    font-family: var(--ABeeZee, "serif");
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
}

nav button{
    border: 0px;;
}

nav > div {
    display: flex;
    height: 100%;
    justify-content: end;
    align-items: center;
    flex-grow: 1;
}

.controlsMargin{
    display: flex;
    justify-content: end;
    align-items: center;
}

.controlsMargin > button:not(.menuBurguer){
    display: flex;
    height: 49px;
    justify-content: center;
    align-items: center;
    border: 0px;
    padding: 20px;
    background-color: #EEEEEE;
}

.menuBurguer > img{
    width: 22px;
    height: 16px;
}

.menuBurguer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px;
    visibility: hidden;
}

@media screen and (max-width: 580px) {
    .menuBurguer {
        visibility: visible;
    }

    nav > ul {
        display: none;
    }
}

/* *************************************************** */

.hero {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
    grid-area: 1 / 1 / 3 / 3;
}

/* Texto superpuesto */
.headings {
    grid-area: 1 / 1 / 2 / 2;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: start;
    padding-left: 5%;
    color: white;
}

.headings h1 {
    font-family: "Abhaya Libre", serif;
    font-size: 70px;
    font-weight: 400;
    font-style: normal;
    color: white;
}

.headings h2 {
    color: white;
    font-family: var(--ABeeZee, "serif");
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

@media screen and (max-width: 770px){
    .headings {
        grid-area: 2 / 1 / 3 / 2;
        justify-content: end;
        padding-bottom: 5%;
    }

    .headings h1 {
        font-size: 24px;
    }

    .headings h2 {
        font-size: 14px;
    }
}

.cardsSection{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 40px;
    padding: 30px 40px;
}

.card{
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 40px 30px;
    flex-direction: column;
    border-radius: 20px;
    background-color: #D9D9D9;
    font-family: var(--ABeeZee, "serif");
}

.cardTitles{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 10px;
}


.cardTitles > h2{
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
}

.cardTitles > h4{
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    padding: 20px 20px 20px 0;
}

.card img{
    width: 100%;
}

.moreInfo{
    font-family: var(--ABeeZee, "serif");
    font-size: 12px;
    font-weight: 400;
    border-radius: 45px;
    padding: 12px 23px;
    background-color: white;
    border: 0;
    cursor: pointer;
}

.cardButtons{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 35px;
}

.colorButtons{
    display: flex;
    gap: 15px;
}

.colorButtons button{
    width: 33px;
    height: 33px;
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
}

.select{
    box-shadow: 0px 0px 1px 2px black;
}

.btnBlack{
    background-color: black;
}

.btnPurple{
    background: rgb(81, 95, 145);
}

.btnSoftRed{
    background: rgb(174, 63, 63);
}

.btnGray{
    background: rgba(197, 197, 197, 1);
}

.btnRed{
    background: rgba(161, 0, 0, 1);
}

.btnBlue{
    background: rgba(0, 16, 161, 1);
}

.btnYellow{
    background: rgba(226, 195, 36, 1);
}

@media screen and (max-width: 850px) {
    .cardsSection{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }
}

@media screen and (max-width: 460px){
    .cardsSection{
        padding: 10px;
        gap: 8px;
    }

    .cardTitles{
        align-items: center;
        padding: 0;
    }

    .cardTitles > h4{
        padding: 0;
    }

    .colorButtons{
        display: none;
    }

    .cardButtons{
        justify-content: center;
        padding: 0;
    }
}

/* *************************************************** */
.textoMedio{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    padding: 40px;
}

.textoMedio h2{
    font-family: var(--fontAbhaya, "serif");
    font-weight: 400;
    font-style: normal;
    font-size: 5em;
}

.textoMedio > p{
    width: 100%;
    padding-right: 60%;
    font-family: var(--ABeeZee, "serif");
    font-weight: 400;
    font-size: 1.5em;
    font-style: normal;
}

@media screen and (max-width: 800px){
    .textoMedio{
        align-items: center;
        padding: 20px;
    }
    .textoMedio h2{
        text-align: center;
        font-size: 4em;
    }
    .textoMedio > p{
        padding: 0;
        text-align: center;
        margin-top: 10px;
    }
}

@media screen and (max-width:700px){
    .textoMedio h2{
        font-size: 40px;
    }
}

/* *************************************************** */
.sectionMap{
    width: 100%;
    height: 790px;
    background-image: url("./src/img/fondoMapa.png");
    background-size: cover;
    background-position: center;
    padding: 40px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.sectionMap > div{
    display: flex;
    width: 465px;
    height: 275px;
    max-width: 465px;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(162, 162, 162, 0.51);
    color: rgba(255, 255, 255, 1);
    padding: 17px 35px;
    border-radius: 14px;
}

.sectionMap h4{
    padding-bottom: 20px;
    font-family: var(--ABeeZee, "serif");
    font-weight: 400;
    font-style: Regular;
    font-size: 50px;
    line-height: 50px;
    letter-spacing: 0%;
    vertical-align: middle;
    margin-bottom: 10px;
}

.sectionMap button{
    padding: 21px 31px;
    background-color: white;
    color: black;
    border-radius: 80px;
    width: 254px;
    height: 51px;
    border: 1px solid rgba(20, 22, 21, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

@media screen and (max-width: 550px) {
    .sectionMap{
        height: fit-content;
        justify-content: center;
        align-items: center;
    }

    .sectionMap > div{
        padding: 22px 18px;
        align-items: center;
    }

    .sectionMap h4{
        text-align: center;
        font-size: 36px;
    }
}

/* *************************************************** */
.overflowSection{
    display: flex;
    overflow-x: auto;
    padding: 40px;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}

.overCard{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    width: 500px;
    height: 400px;
    flex-shrink: 0;
    padding: 40px 30px;
    background-color: #D9D9D9;
}

.overflowSection > div img{
    width: 100%;
    height: 180px;
    object-fit: cover;
    object-position: center;
}



.overCard h2{
    font-family: var(--ABeeZee, "serif");
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}

@media screen and (max-width: 600px){
    .overflowSection{
        padding: 20px;
        gap: 20px;
    }

    .overCard{
        width: 310px;
        height: 340px;
        padding: 20px 15px;
        align-items: center;
    }

    .overCard img{
        height: 140px;
    }
}