/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #000000;
  color: #9ad79b;
}

header, aside, section, footer{
    border: 1px dashed;
}

header{
    position: sticky;
    width: 100%;
    background-color: #000000;
    top: 0;
    padding: 10px;
}

section{
    margin: 20px 0;
}

.content{
    padding: 10px 20px;
}

aside{
    position: relative;
    left: 90%;
    padding: 10px 20px;
    width: fit-content;
}

.features{
    text-align: center;
    padding: 20px 0;
}

footer{
    position: fixed;
    background-color: black;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 10px;
}



