@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Abhaya+Libre:wght@400;500;600;700;800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
}

header > nav{
    display: flex;
    height: 49px;
    justify-content: start;
    align-items: center;
    background-color: #EEEEEE;
}

nav > a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px 42px;
    height: 49px;;
}

nav > a > img {
    width: 30px;
    height: 30px;
}

nav > ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav > ul > li{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

li > button{
    border: 0px;
    padding: 18.5px 7.9px 15.5px;
    color: black;
    font-family: "ABeeZee", sans-serif;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
}

nav button{
    border: 0px;;
}

nav > div {
    display: flex;
    height: 100%;
    justify-content: end;
    align-items: center;
    flex-grow: 1;
}

.controlsMargin{
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.controlsMargin > button:not(.menuBurguer){
    display: flex;
    height: 49px;
    justify-content: center;
    align-items: center;
    border: 0px;
    padding: 20px;
    background-color: #EEEEEE;
}

.menuBurguer > img{
    width: 22px;
    height: 16px;
}

.menuBurguer {
    display: none;
    height: 100%;
    padding: 20px;
}

@media screen and (max-width: 560px) {
    .menuBurguer {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav > ul {
        display: none;
    }
}
/* 
nav > a{
    height: 49px;
    width: auto;
    padding: 18px 42px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav > a > img {
    width: 30px;
    height: 30px;
}

nav > ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav > ul > li{
    display: flex;
    list-style: none;
    justify-content: center;
    height: auto;
    padding: 18.5px 7.9px 15.5px;
}

li > button{
    color: black;
    border: 0px;
    font-family: "ABeeZee", sans-serif;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
}

.controlsMargin{
    display: flex;
    background-color: #EEEEEE;
    justify-content: end;
    align-items: center;
    flex-grow: 1;
    padding-right: 52px;
    min-width: 193.77px;
    height: 49px;
}

.controlsMargin > div {
    display: flex;
    height: 100%;
}

.controlsMargin > div > button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px;
    padding: 20px;
    background-color: #EEEEEE;
}

button > img{
    width: 21px;
    height: 16px;
}

.hero{
    background-image: url("./src/img/portada.jpg");
    background-size: cover;
    background-position: center;
    height: 550px;
    gap: 10px;
}

.hero > .headings{
    position: relative;
    width: fit-content;
    top: 100px;
    left: 50px;
}

.headings > h1{
    font-family: "Abhaya Libre", serif;
    width: fit-content;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 70px;
}

.headings > h4{
    color: white;
    font-family: "ABeeZee", serif;
    width: fit-content;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
} */