@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Abhaya+Libre:wght@400;500;600;700;800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
}

header > nav{
    display: flex;
    height: 49px;
    justify-content: start;
    align-items: center;
    background-color: #EEEEEE;
}

nav > a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px 42px;
    height: 49px;
}

nav > a > img {
    width: 30px;
    height: 30px;
}

nav > ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav > ul > li{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

li > button{
    border: 0px;
    padding: 18.5px 7.9px 15.5px;
    color: black;
    font-family: "ABeeZee", sans-serif;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
}

nav button{
    border: 0px;;
}

nav > div {
    display: flex;
    height: 100%;
    justify-content: end;
    align-items: center;
    flex-grow: 1;
}

.controlsMargin{
    display: flex;
    justify-content: end;
    align-items: center;
}

.controlsMargin > button:not(.menuBurguer){
    display: flex;
    height: 49px;
    justify-content: center;
    align-items: center;
    border: 0px;
    padding: 20px;
    background-color: #EEEEEE;
}

.menuBurguer > img{
    width: 22px;
    height: 16px;
}

.menuBurguer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px;
    visibility: hidden;
}

@media screen and (max-width: 560px) {
    .menuBurguer {
        visibility: visible;
    }

    nav > ul {
        display: none;
    }
}

/* *************************************************** */

.hero {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
    grid-area: 1 / 1 / 3 / 3;
}

/* Texto superpuesto */
.headings {
    grid-area: 1 / 1 / 2 / 2;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: start;
    padding-left: 5%;
    color: white;
}

.headings h1 {
    font-family: "Abhaya Libre", serif;
    font-size: 70px;
    font-weight: 400;
    font-style: normal;
    color: white;
}

.headings h2 {
    color: white;
    font-family: "ABeeZee", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

@media screen and (max-width: 770px){
    .headings {
        grid-area: 2 / 1 / 3 / 2;
        justify-content: end;
        padding-bottom: 5%;
    }

    .headings h1 {
        font-size: 24px;
    }

    .headings h2 {
        font-size: 14px;
    }
}